@tailwind base;
@tailwind utilities;

/* Meter Flowbite dentro de layer components, no suelto al final */
@layer components {
  @import "flowbite";
}

/* ---- Estilos base del proyecto ---- */
html, body {
  height: 100%;
  background-color: #ffffff;
  color: #1e293b;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light;
  background: #fff;
}

@layer utilities {
  .bg-login-gradient {
    background: linear-gradient(
      to bottom,
      #7a82ff 0%,
      #cdd4ff 30%,
      #ffffff 50%,
      #cdd4ff 70%,
      #7a82ff 100%
    );
  }
}

