.detalle-container {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

.titulo {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 40px;
}

/* ================= GRID PRINCIPAL ================= */
.detalle-grid {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
  gap: 40px;
}

/* IMAGEN */
.detalle-imagen {
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.detalle-imagen img {
  width: 90%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

/* DESCRIPCIÓN */
.detalle-descripcion h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.lista-descripcion {
  margin-top: 10px;
  padding-left: 20px;
}

.texto-vacio {
  font-style: italic;
  color: #777;
}

/* ================= SECCIÓN INFO EXTRA ================= */
.detalle-info-extra {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.info-bloque {
  flex: 1;
  text-align: center;
}

.info-bloque h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}

.precio {
  font-size: 26px;
  font-weight: 700;
}

/* BADGE STOCK CENTRADO */
.badge-stock {
  padding: 10px 26px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  margin-top: 5px;
}

.stock-rojo {
  background: #ffe0e0;
  color: #c00000;
}
.stock-amarillo {
  background: #fff6cc;
  color: #a68b00;
}
.stock-azul {
  background: #d9e7ff;
  color: #0047b3;
}
.stock-verde {
  background: #d8f8d8;
  color: #176c2a;
}

/* ================= BOTONES ================= */
.detalle-botones {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.btn-editar {
  background: #f0ad4e;
  padding: 16px 50px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

.btn-eliminar {
  background: #d9534f;
  padding: 16px 50px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  border: none;
}

/* VOLVER */
.volver-container {
  text-align: center;
  margin-top: 40px;
}

.btn-volver {
  padding: 12px 30px;
  font-size: 18px;
  background: #333;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
